.courses__section {
  background-color: #010044;
  /* background-image: url(/assets/graphic\ design\ course\ description\ background\ overlay.png);
    background-position: right;
    background-repeat: no-repeat;  */
}

.courses h2 {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #ffd512;
  
}
 
 #services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.service {
  display: none;
  flex: 0 0 calc(50% - 20px);
  width: 80%; 
  max-width: 450px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  border: 2px solid #01005e;
  border-radius: 8px;
  box-sizing: border-box; 
}

.service h2 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Poppin", sans-serif;
  color: #FF0009;
}

.service p {
  margin-bottom: 0;
  color: #ffd512;
  font-weight: 500;

}

/* Mobile Responsive For Services */
@media screen and (max-width: 760px) {
  .service {
    flex: 0 0 100%;
  }
  
  .courses h2 {
      text-align: center;
      margin-top: 2rem;
      font-size: 1.5rem;
  }

  .courses .services {
    display: table;
  }
  

  .courses__img-content span {
      padding: 1px 2px;
  }
  
}

@media screen and (max-width: 480px) {
  .service {
    flex: 0 0 100%;
    margin-left: 0;
    margin-right: 0;
  }

}


/* Testimonial Section */

.section-2 {
  text-align: center;
}

.section-2 h2 {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color:#ffd512;
  margin-left: 10rem;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.testimonial {
  width: 100%;
  max-width: 600px;
  background-color: #f9f9f9;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}

.testimonial.active {
  opacity: 1;
  position: relative;
}

.testimonial img {
  width: 100px;
  height: 100px;
  border: 1px solid #FF0009;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial p {
  font-style: italic;
  color: #FF0009;
  font-weight: bold;
  line-height: 1.2;
  font-size: 16px;
  margin-bottom: 10px;
  letter-spacing: normal;
}

.testimonial span {
  font-weight: bold;
  color: #ffd512;
}


/* Mobile Responsive For Testimonies */

@media screen and (max-width: 760px) {
  .testimonials {
    flex-wrap: wrap;
  }
  
  .testimonial {
    flex-basis: 45%;
  }

  .testimonial p {
    color: #01005e;
  }

  .section-2 h2 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 3rem;
    margin-right: 83px;
}
}

@media screen and (max-width: 480px) {
  .testimonial {
    flex-basis: 100%; 
  }
}

