.courses__section {
  background-image: url(/assets/graphic\ design\ course\ description\ background\ overlay.png);
    background-position: right;
    background-repeat: no-repeat; 
}

.courses h2 {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #ffd512;
  
}
 
 #services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.service {
  display: none;
  flex: 0 0 calc(50% - 20px);
  width: 80%; 
  max-width: 450px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  border: 2px solid #01005e;
  border-radius: 8px;
  box-sizing: border-box; 
}

.service h2 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Poppin", sans-serif;
  color: #01005e;
}

.service p {
  margin-bottom: 0;
  color: #000;
  font-weight: 500;

}

/* Mobile Responsive For Services */
@media screen and (max-width: 760px) {
  .service {
    flex: 0 0 100%;
  }
  
  .courses h2 {
      text-align: center;
      margin-top: 5rem;
      font-size: 1.5rem;
  }

  .courses .services {
    display: table;
  }
  

  .courses__img-content span {
      padding: 1px 2px;
  }
  
}

@media screen and (max-width: 480px) {
  .service {
    flex: 0 0 100%;
    margin-left: 0;
    margin-right: 0;
  }

}


/* Testimonial Section */
.section-2 h2 {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color:#000;
  margin-left: 10rem;
}

.testimonials {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
  overflow: hidden;
}

.testimonial {
  flex-basis: 30%; 
  text-align: center;
  margin-bottom: 20px;
  margin: 20px;
  padding: 20px;
  border: 2px solid #01005e;
  border-radius: 5px;
  text-align: center;
  max-width: 300px;
  flex: 0 0 100%;
  transition: transform 0.5s ease-in-out;

}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 1px solid #fff;
}

.testimonial p {
  font-style: italic;
  color: white;
  font-weight: bold;
  line-height: 1.5rem;
}

.testimonial span {
  font-weight: bold;
  color: #ffd512;
}

.courses__img-container {
  text-align: center;
}



/* Mobile Responsive For Testimonies */

@media screen and (max-width: 760px) {
  .testimonials {
    flex-wrap: wrap;
  }
  
  .testimonial {
    flex-basis: 45%;
  }

  .testimonial p {
    color: #01005e;
  }

  .section-2 h2 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 3rem;
    margin-right: 83px;
}
}

@media screen and (max-width: 480px) {
  .testimonial {
    flex-basis: 100%; 
  }
}

